<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Ecommerce Website Project{% endblock %}</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section id="header">
        <a href="{{ url_for('home') }}"><img src="{{url_for('static',filename='img/logo.png')}}" class="logo" alt="" /></a>

        <div>
            <ul id="navbar">
                <li><a {% if request.endpoint == 'home' %}class="active"{% endif %} href="{{ url_for('home') }}">Home</a></li>
                <li><a {% if request.endpoint == 'shop' %}class="active"{% endif %} href="{{ url_for('shop') }}">Shop</a></li>
                <li><a {% if request.endpoint == 'blog' %}class="active"{% endif %} href="{{ url_for('blog') }}">Blog</a></li>
                <li><a {% if request.endpoint == 'about' %}class="active"{% endif %} href="{{ url_for('about') }}">About</a></li>
                <li><a {% if request.endpoint == 'contact' %}class="active"{% endif %} href="{{ url_for('contact') }}">Contact Us</a></li>
                <li id="lg-bag">
                    <li><a href="{{ url_for('login') }}"><i class="fa-solid fa-user"></i></a></li>
                    <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="#" id="close"><i class="fas fa-times"></i></a>
                </li>
            </ul>
        </div>
        <div id="mobile">
            <a href="{{ url_for('cart') }}"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
            <li><a href="{{ url_for('login') }}"><i class="fa-solid fa-user"></i></a></li>
        </div>
    </section>

    {% block content %}{% endblock %}

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up for Newsletters</h4>
            <p>Get E-mail updates about our latest and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button>Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="">
            <h4>Contact</h4>
            <p><strong>Address :</strong>Avalahalli, Bengaluru</p>
            <p><strong>Phone :</strong>+91 73523 2XXXX</p>
            <p><strong>Hours :</strong>10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From <strong>App Store</strong>or <strong>Google Play</strong></p>
            <div class="row">
                <img src="{{ url_for('static', filename='img/pay/app.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='img/pay/play.jpg') }}" alt="">
            </div>
            <p>SecurePayment Gateways</p>
            <img src="{{ url_for('static', filename='img/') }}" alt="">
        </div>
<div class="copyright">
    <p>&copy; Designed by Satyam Satyarthi and VK
    </p>
</div>

    </footer>
    
    <script src="https://kit.fontawesome.com/a7688c0137.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html> 